@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';


.link{
    text-decoration: none;
}

.title{

    font-size: 24px;
    font-weight: bold;
}

.dark{
    background-color: pink;
    text-color: white;
}

.light{
    background-color: white;
    text-color: black;
}