
.projhead{
    display: grid;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 70%;
    background-color: none;
    height: 80vh;
    overflow: auto;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    margin: auto;
    gap: 0.5rem;
}

.proj{
    width: 236px;
    height: 120px;
    margin: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #ffffff;
    border:transparent;
    border-radius: 4px;
    box-shadow: 0px 0px 11px 3px rgb(41, 44, 40);
    white-space: nowrap;
}

.title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.aboutproj{
    text-align: center;
}

.details{
    text-align: center;
}

